<!-- Hero Section -->
<section id="hero" class="hero section">
    <div class="container d-flex flex-column justify-content-center align-items-center text-center position-relative" data-aos="zoom-out">
        <img src="~/img/hero-img.svg" class="img-fluid animated" alt="ecntech">
        <h1>Welcome to <span>ecntech</span></h1>
        <p>
            At ecntech, we drive innovation with cutting-edge products that streamline operations, deliver data-driven insights,
            and empower your business to excel in a competitive landscape. Discover how our advanced technology solutions can
            transform your operations and unlock new opportunities.
        </p>
        <div class="d-flex">
            <a asp-controller="Home" asp-action="About" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox btn-watch-video d-flex align-items-center">
                <i class="bi bi-play-circle"></i><span>Watch Video</span>
            </a>
        </div>
    </div>
</section><!-- /Hero Section -->
